**/build
**/.settings
**/.classpath
**/bin
**/lib
**/target
**/plugin.xml
*.augmented.*
**/*.ipr
**/*.iws
**/*.iml
**/.gradle
**/cert
**/out
**/.dev/
**/.tmp/
**/.DS_Store
**/*.sublime-project
**/*.sublime-workspace
**/bower_components/
**/node_modules/
**/test/coverage/
**/dist
**/npm-debug.log
**/pdf-out
**/repo
*.iml
data/
.project
*-ui.js
*-ui.tpl.js
*.css
.idea/*
!.idea/vcs.xml
!.idea/modules.xml
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/
!.idea/jsLinters/

**/node/
/.idea/codeStyleSettings.xml
/photomanager-angular-ui/node_modules/
**/.angular
**/.git1
**/.idea-old
